*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-Form-Course {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 600px; /* Adicione uma largura máxima para evitar que o formulário fique muito largo */
    margin: 20px auto; /* Centraliza o formulário na tela e adiciona espaço ao redor */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.container-Form-Course-Tittle h1 {
    color: #333;
}

.container-Form-Course-inf input,
.container-Form-Course-inf textarea,
.container-Form-Course-inf select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
.container-Form-Course-warn {
    color: #ff0000;
    margin-bottom: 10px;
}

.container-Form-Course-create {
    background-color: #4caf50;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-Form-Course-create:hover {
    background-color: #45a049;
}

.container-Lesson {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-Lesson-create button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-Lesson-create button:hover {
    background-color: #2980b9;
}
.container-video {
    margin-top: 10px;
    column-count: 2;
    column-gap: 20px;
    height: 200px;
    overflow-y: auto;
}

/* Estilo para o bloco video-Lesson dentro do container-video */
.video-Lesson {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px; /* Ajuste conforme necessário para o espaçamento entre os blocos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    break-inside: avoid; /* Evita que o bloco seja dividido entre colunas */
}

.video-Lesson span {
    display: block;
    margin-bottom: 10px;
}

.video-Lesson a {
    color: #dc3545;
    text-decoration: none;
    cursor: pointer;
}

.video-Lesson a:hover {
    text-decoration: underline;
}